
/* Your CSS Code here. */

.main{
	width:200px;
	background-color:purple;
	border-left-width:5px;
	border-left-style:solid;
	border-left-color:green;
	
	padding:10px;
}

.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
	/* background-color:black; */
}